<div style="display: flex; align-items: center; justify-content: center;">

    <button mat-raised-button
      style="background-color: #b76e79;margin: 2%;width: 400px;height: 150px;font-size: larger;font-family: monospace;color: white;">
      Portafolio</button>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
  
    <button mat-raised-button
      style="background-color: #b76e79;margin: 2%;width: 400px;height: 150px;font-size: larger;font-family: monospace;color: white;" routerLink="/registrar-datos">Datos
      Facturación</button>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
  
    <button mat-raised-button
      style="background-color: #b76e79;margin: 2%;width: 400px;height: 150px;font-size: larger;font-family: monospace;color: white;">Contacto</button>
  </div>