<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="font-family: Georgia, 'Times New Roman', Times, serif;color: #b76e79;">Eva Lozano Makeup</span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" href="https://www.instagram.com/evalozano_makeup/?hl=en">
    <mat-icon>facebook</mat-icon>
  </a>
</mat-toolbar>
