<mat-card appearance="outlined" style="flex: 1; margin-bottom: 1%;" class="card">
    <mat-card-title style="font-family: Montserrat;"><b>{{this.services?.serviceName}}</b></mat-card-title>
    <mat-card-content>
        <h3 style="font-family: Montserrat;">{{this.services?.serviceValue  | currency}} </h3>
        <b style="font-family: Montserrat;">Descripción</b>
        <ol *ngFor="let detail of this.services?.servicesDetails">{{detail.description}}</ol>
        <section>
            <mat-radio-button class="example-margin" value="after">Deseo este</mat-radio-button>
        </section>
    </mat-card-content>
</mat-card>